:root {
    --scroll-button-gap: 36px;
    --base-layout-bg: #ffffff;
    --base-layout-text-color: #161616;
    --base-success-color: #d0eca0;
    --base-success-color-hover: #bce582;
    --label-success-color: #7bac5b;
    --base-positive-color: #edffec;
    --secondary-button-hover-text-color: #e1426c;
    --base-accent-color: #ff5983;
    --base-negative-color: #ffeae8;
    --total-black-text-color: #000000;
    --base-layout-text-color-inverted: #ffffff;
    --base-layout-text-color-inverted-hover: #9ee7f0;
    --base-label-text-color: #858585;
    --base-label-text-color-hover: #6a6a6a;
    --image-gallery-bg: #dcf7fa;
    --common-badge-color: #b6b6b6;
    --base-layout-bg-hover: #87d4de;
    --link-color: #33777e;
    --auth-background-color: rgb(71, 101, 235);
    --link-color-hover: #2a6066;
    --link-color-active: #1e4c52;
    --header-bg-color: #33777e;
    --main-font: "Onest", sans-serif;
    --title-font: "Onest", sans-serif;
    --app-height: 100%;
    --main-layout-bg: #f1f1f1;

    --product-counter-quantity-font-weight: 600;

    --main-layout-padding-x: 50px;
    --main-layout-padding-y: 25px;
    --main-layout-page-wrapper-padding-top: 130px;
    --main-page-padding: 28px 36px;
    --input-container-padding: 4px 5px;

    --button-border-radius: 8px;
    --widget-border-radius: 24px;

    --widget-border: 2px solid #f1f1f1;

    --default-ui-transition: 0.35s;

    --widget-shadow: 0 8px 20px #0000000a;
}

@font-face {
    font-family: "Onest";
    font-weight: 400;
    src: url("/fonts/Onest/Onest-Light.ttf");
}

@font-face {
    font-family: "Onest";
    font-weight: 500;
    src: url("/fonts/Onest/Onest-Regular.ttf");
}

@font-face {
    font-family: "Onest";
    font-weight: 600;
    src: url("/fonts/Onest/Onest-Medium.ttf");
}

@font-face {
    font-family: "Onest";
    font-weight: 700;
    src: url("/fonts/Onest/Onest-SemiBold.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    outline: none;
    border: none;
}

.application {
    padding: var(--main-layout-padding-y) var(--main-layout-padding-x);
}

.page-wrapper {
    padding-top: var(--main-layout-page-wrapper-padding-top);
}

a:hover {
    color: var(--link-color-hover);
}

body {
    background-color: var(--main-layout-bg);
    font-family: "Onest";
    font-weight: 600;
}

h1,
h2,
h3,
h4,
h5 {
    color: var(--base-layout-text-color);
}

.headline-1-text {
    font-family: "Onest", sans-serif;
    font-weight: 700;
    font-size: 42px;
    line-height: 54px;
    letter-spacing: -0.33px;
}

.headline-2-text {
    font-family: "Onest", sans-serif;
    font-weight: 700;
    font-size: 30px;
    letter-spacing: -0.33px;
}

.headline-3-text {
    font-family: "Onest", sans-serif;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: -0.33px;
}

.headline-4-text {
    font-family: "Onest", sans-serif;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: -0.33px;
}

.primary-text {
    font-family: "Onest";
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.4px;
}

.secondary-text {
    font-family: "Onest";
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: -0.4px;
}

.button-text {
    font-family: "Onest";
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
}

.badge-text {
    font-family: "Onest";
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
}

.badge-thin-text {
    font-family: "Onest";
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;
}

.body-text {
    font-family: "Onest";
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
}

.body-small-text {
    font-family: "Onest";
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}

.button-small-text {
    font-family: "Onest";
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
}
