button {
    border: none;
    outline: none;
    background: transparent;
}

.default-styled-button {
    padding: 10px 18px;
    border-radius: var(--button-border-radius, 8px);

    background-color: var(--base-layout-text-color-inverted-hover, #9EE7F0);
    color: var(--total-black-text-color, #000000);

    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 6px;

    transition: background-color var(--default-ui-transition, .35s) ease;
}

.default-styled-button:hover {
    cursor: pointer;
    background-color: var(--base-layout-bg-hover, #87d4de);
}

.default-styled-button:disabled {
    background-color: rgba(95, 111, 255, 0.3);
    color: rgba(255, 255, 255, 0.6);
    cursor: not-allowed;
    box-shadow: none;
}

.default-styled-button.completed {
    background-color: var(--base-success-color, #D0ECA0);
}

.default-styled-button.completed:hover {
    background-color: var(--base-success-color-hover, #BCE582);
}
