.product-list {
    display: grid;
    grid-template-columns: repeat(4, max-content);
    gap: 32px;
    justify-content: center;
    padding: 32px;
    max-width: 900px;
    margin: 0 auto;
}

@media (max-width: 1400px) {
    .product-list {
    grid-template-columns: repeat(3, max-content);
    }
}

@media (max-width: 1200px) {
    .product-list {
    grid-template-columns: repeat(2, max-content);
    }
}

