.auth-page {
    position: relative;
    top: 20px;
    left: 715px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(230, 233, 235);
    background-color: rgb(78, 78, 78);
    max-width: 250px;
    max-height: 350px;
    border-radius: 5px;
    border: 1px solid rgb(59, 59, 59);
}
