.product-info-wrapper .primary-block {
    width: 60%;
    display: flex;
    gap: 30px;
}

.product-info-wrapper .primary-block .images-block {
    flex: 1;
}

.product-info-wrapper .primary-block .info-block {
    flex: 2.5;
}

.product-info-wrapper .primary-block .info-block .text-preview-container {
    margin-bottom: 10px;
}

.product-info-wrapper .primary-block .info-block .annotation-scroll-button-wrapper {
    margin-bottom: 30px;
}

.product-info-wrapper .primary-block .info-block .product-details-wrapper {
    margin-bottom: 10px;
}