.input-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 16px;
}

.custom-input {
    padding: 10px 16px;
    border-radius: var(--button-border-radius);
    border: 2px solid var(--image-gallery-bg);
    background-color: var(--base-layout-bg);
    font-family: var(--main-font);
    font-size: 16px;
    color: var(--base-layout-text-color);
    transition: var(--default-ui-transition);
    width: 100%;
}

.custom-input:focus {
    outline: none;
    border-color: var(--base-layout-text-color-inverted-hover);
    box-shadow: 0 0 0 3px rgba(107, 121, 243, 0.1);
}

.custom-input:disabled {
    background-color: var(--main-layout-bg);
    opacity: 0.7;
    cursor: not-allowed;
}

.custom-input.error {
    border-color: var(--base-accent-color);
}
