.icon-button {
    padding: 8px 12px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;

    border: none;
    cursor: pointer;

    background-color: var(--base-layout-text-color-inverted-hover, #9EE7F0);
    color: var(--total-black-text-color, #000000);
    
    transition: background 0.25s ease, transform 0.25s ease, box-shadow 0.25s ease;
}

.icon-button.row {
    flex-direction: row;
}

.icon-button.column {
    flex-direction: column;
}

.icon-button.ghost {
    color: var(--base-label-text-color, #858585);
    background-color: transparent;
}

.icon-button.ghost span {
    font-size: 14px;
}

.icon-button:hover {
    cursor: pointer;
}

.icon-button.primary:hover {
    background-color: var(--base-layout-bg-hover, #87d4de);
}

.icon-button.ghost:hover {
    color: var(--base-label-text-color-hover, #6A6A6A);
}