.icon-button {
    padding: 8px 12px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;

    font-size: 15px;
    font-weight: 500;
    border: none;
    cursor: pointer;

    background-color: #5f6fff;
    color: #ffffff;
    
    transition: background 0.25s ease, transform 0.25s ease, box-shadow 0.25s ease;
}

.icon-button.row {
    flex-direction: row;
}

.icon-button.column {
    flex-direction: column;
}

.icon-button.ghost {
    background-color: transparent;
    color: black;
}

.icon-button:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(95, 111, 255, 0.15);
}

.icon-button.primary:hover {
    background-color: #7b81ff;
}

.icon-button.ghost:hover {
    background-color: rgba(95, 111, 255, 0.1);
}

.icon-button.active {
    box-shadow: 0 0 8px rgba(95, 111, 255, 0.6);
}
