.icon-button {
    padding: 10px;
    border-radius: 3px;
    background-color: grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 16px;
    gap: 4px;
    transition: background-color border .35s;
}

.icon-button.column {
    flex-direction: column;
}

.icon-button.ghost {
    background-color: transparent;
}

.icon-button:hover {
    cursor: pointer;
}

.icon-button.primary:hover {
    background-color: darkgrey;
}

.icon-button.active {
    border: 2px solid ghostwhite;
}